*.nes
*.fds
*.smc
*.sfc
*.gb
*.gbc
*.gbs
*.gba
*.sms
*.gg
*.gen
*.md
*.smd
*.32x
*.n64
*.z64
*.v64
*.pce
*.sgx
*.sg
*.vb
*.ws
*.wsc
*.7z
*.rar
*.zip

*.sav
*.ss0
*.ss1
*.ss2
*.ss3
*.ss4
*.ss5
*.ss6
*.ss7
*.ss8
*.ss9

*.ips
*.bps
*.xdelta
*.original

/insertar solo textos.bat
/extract/**/*.bin
/extract/*/
/assets/backup/
/dump_script/*.txt
/build/*
/nppextlang.xml

!README.md
!CONTRIBUTING.md
!LICENSE.md