*.nes
*.fds
*.gba
*.smc
*.sfc
*.gb
*.gbc
*.vb
*.sms
*.md
*.gen
*.gg
*.n64
*.pce
*.rar
*.zip

*.sav
*.ss0
*.ss1
*.ss2
*.ss3
*.ss4
*.ss5
*.ss6
*.ss7
*.ss8
*.ss9

*.ips
*.bps
*.original

/insertar solo textos.bat
/extract/*.bin
/assets/backup/
/dump_script/*.txt
/build/*
/nppextlang.xml